@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&display=swap" rel="stylesheet');
*{
    margin-top: 0px;
    padding:0;
    border: none;
}
body{
    font-family: 'Great Vibes', cursive;
    font weight: 400;
    background-image: url('../images/glitter.webp');
    padding: 50px;
}

section {
    margin-bottom: 50px;
  }


/* headings and logo */
.container {
    max-width:1080px;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

#logo{
    background-image:url('../images/cupcakes.png');
    font-size: 40px;
    padding-top: 20px;
    animation-name:logo-zoom;
    animation-duration: 5s;
    animation-fill-mode:forwards;
}
h1{padding-top: 15px;}
.page-header{height:45vh; background:center 50% / cover no-repeat;
}

@keyframes logo-zoom {
    from{transform: scale(1);
    }
    to{transform:scale(1.1);
    }
}

h1{padding-top: 15px;}
.page-header{height:45vh; background:center 50% / cover no-repeat;
}

.text-center{
    text-align:center;
}
h1, h2{
    text-transform:none;
    letter-spacing: 1px;
    color:rgb(126, 9, 38);
}

/* navigation links */
#menu{
    font-size:20px;
    letter-spacing: 1px;
    
}
#menu, #logo{
    line-height: 80px;
}
#menu li{
    float: right ;
    list-style-type: none;
    margin: right 30px;  
    padding-right: 5%;
}
#menu a{
    text-decoration: none;
    color:inherit;
}
#menu a:hover{
    border-bottom: 1px solid gold;
}
#intro{
  ;
}
/* cakes flavours*/

#cakes div{
    width:20%;
    height:300px;
    float:left;
    padding: 30px 0 0 10px;
    text-align: center;
    border:5px solid rgb(126, 9, 38);
    box-sizing: border-box;
    margin:10px auto;
    font-family: 'PT Sans', sans-serif;
}
#Cupcakesandcoockies div{
    width:20%;
    height:300px;
    float:left;
    padding: 30px 0 0 10px;
    text-align: center;
    border:5px solid rgb(126, 9, 38);
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
    
#cake1{
    background-image:url('../images/vanilla.jpeg');
    background-size:cover;
}
#cake2{
    background-image:url('../images/chocolate.jpeg');
    background-size:cover;
    
}
#cake3
{
    background-image:url('../images/pistachio.jpeg');
    background-size:cover;
    
}
#cake4
{
    background-image:url('../images/cheesecake.jpeg');
    background-size:cover;
    
}
#cake5
{
    background-image:url('../images/red.jpeg');
    background-size:cover;
    
}
#cupcake1
{
    background-image:url('../images/vanilla-cup.jpeg');
    background-size:cover;
    
}
#cupcake2
{
    background-image:url('../images/choco-cup.jpeg');
    background-size:cover;
    
}
#cupcake3
{
    background-image:url('../images/caramel.jpeg');
    background-size:cover;
    
}
#coockie1
{
    background-image:url('../images/white.jpeg');
    background-size:cover;
    
}
#coockie2
{
    background-image:url('../images/choco.jpeg');
    background-size:cover;
    
}



strong{color: rgb(129, 61, 61);
}
/* Contact info */
footer{
    height: 50px;
    
}

/* Subscription info */
#Subscribe-and-win{
    margin-bottom: 50px;
    margin-top: 50px;
}
input[type="text"], input[type="email"], input[type="number"], input[type="radio"], input[type="submit"]{
background-color:pink;
font-size: large;

}

/* Styles for screens smaller than 768px */
@media screen and (max-width: 767px) {
    body {
      font-size: 16px;
    }
    #logo {
      font-size: 30px;
    }
    #menu li {
      margin-right: 10px;
    }
    #cakes div, #Cupcakesandcoockies div {
      width: 50%;
    }
  }
  
  /* Styles for screens between 768px and 1023px */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 18px;
    }
    #logo {
      font-size: 35px;
    }
    #menu li {
      margin-right: 20px;
    }
    #cakes div, #Cupcakesandcoockies div {
      width: 30%;
    }
  }
  
  /* Styles for screens larger than 1024px */
  @media screen and (min-width: 1024px) {
    body {
      font-size: 20px;
    }
    #logo {
      font-size: 40px;
    }
    #menu li {
      margin-right: 30px;
    }
    #cakes div, #Cupcakesandcoockies div {
      width: 20%;
    }
  }
  #info{

      font-size: 25px;
      padding-bottom: 20%;
      text-align:left;


}
