@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    border: none;
    background-color:E6E8FA ;
    
}
body{
    font-family: 'Great Vibes', cursive;
    font weight: 400;
    color:#AF1C3E;

}
/* headings and logo */

#logo{
    background-image:url('../images/cupcakes.png');
    font-size: 40px;
    padding-top: 20px ;
    animation-name:logo-zoom;
    animation-duration: 5s;
    animation-fill-mode:forwards;
}

.page-header{
    height:35vh;
    background:center 50% / cover no-repeat;
}

@keyframes logo-zoom {
    from{transform: scale(1);
    }
    to{transform:scale(1.1);
    }
}
.text-center{
    text-align:center;
}
h1, h2{
    text-transform:none;
    letter-spacing: 1px;
    color:rgb(126, 9, 38);
}

/* navigation links */
#menu{
    font-size:30px;
    letter-spacing: 1px;
    
}
#menu, #logo{
    line-height: 90px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin: right 30px;
}
#menu a{
    text-decoration: none;
    color:inherit;
}
#menu a:hover{
    border-bottom: 1px solid gold;
}
